<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link rel="stylesheet" type="text/css" href="css/categ.css">
    <link rel="stylesheet" type="text/css" href="css/chat_room.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/eventsource.min.js"></script>
    <script src="js/basic_display.js"></script>

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 15pt;
    }
    #coinicon{
      display: inline-block;
    }


    #pbtn, #rbtn, #sbtn, #fbtn{
      min-height: 60px;
      font-size: 15pt;
      background-color: #474747;
      color: #FFFFFF;
      text-align: left;
    }

    .carousel-control.left, .carousel-control.right{ 
      background: none !important; 
      filter: progid:none !important; 
    }
    </style>


    <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->
<br>
   <div class="row header">
      <div class="col-xs-3 col-md-1 goBack" onclick="goBack()"></div>
      <div class="col-xs-9 col-md-9">
        <% 
           your_id  = @is_author ? chat_record["author_id"] : chat_record["guesser_id"]
           his_id   = @is_author ? chat_record["guesser_id"] : chat_record["author_id"]

           if @anon 
             css_style = "background-image:url('//graph.facebook.com/#{his_id}/picture?type=square')"
        %>
        <!-- if he is not anonymous -->
            <div class="col-xs-12 col-md-12 profile_icon not_anon top_icon">
                <div class="profile_pic" style="<%=css_style%>"></div>
            </div>
          <% else %>
        <!-- if he is anonymous -->
            <div class="col-xs-3 col-md-9 profile_icon anon top_icon">
                <div class="profile_pic"></div>
            </div>
          <% end %>
          <div class="name"><%=@display_name%></div>
      </div>
      <br><br><br>
      <div class="line"></div>
   </div>

   

  <!-- <h1>Records</h1> -->
<br>
 <div class="row">
    <div id="room_background" class="col-xs-11 col-md-3">

    <div id="question_bundle" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <font color="#be0d0d">
    <ol class="carousel-indicators">
      <li data-target="#question_bundle" data-slide-to="0" class="active"></li>
      <li data-target="#question_bundle" data-slide-to="1"></li>
      <li data-target="#question_bundle" data-slide-to="2"></li>
    </ol>
  </font>

    <!-- Wrapper for slides -->
    <!-- <center><%= @is_author ? "你" : "他"%>比了<%=bundle[0]["option0"]%>跟<%=bundle[0]["option1"]%></center> -->
    <div class="carousel-inner">
      <% has_active = false 
         guesser_answers = chat_record["guesser_answers"]
         
         bundle.each_with_index do |hash, index| 
          unless has_active
      %>
          <div class="item active">
        <% has_active = true
           else %>
          <div class="item">
        <% end %>
        <div class="history_compare">
          <div class="row">
              <center><div class="history_question">「<%=hash["question"]%>」</div></center>
              <div class="col-xs-6 col-md-6 history_option">
                <center><%=hash["option0"]%></center>
              </div>
              <div class="col-xs-6 col-md-6 history_option">
                <center><%=hash["option1"]%></center>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6 col-md-6">

                <%if ((!@is_author and guesser_answers[index] == hash["option0"]) or
                        (@is_author and hash["answer"] == hash["option0"])) and
                      ((@is_author and guesser_answers[index] == hash["option0"]) or
                        (!@is_author and hash["answer"] == hash["option0"]))%>
                    <div class="col-xs-1 col-md-1"></div>
                <%else%>
                    <div class="col-xs-4 col-md-4"></div>
                <%end%>

                  <%  ## you chose option0
                      if (!@is_author and guesser_answers[index] == hash["option0"]) or
                        (@is_author and hash["answer"] == hash["option0"])
                      css_style = @anon ? "" : "background-image:url('//graph.facebook.com/#{your_id}/picture?type=square')"
                   %>
                  <div class="col-xs-2 col-md-2 message_profile_icon <%= @anon ? "anon" : "not_anon"%>">

                      <div class="message_profile_pic" style="<%=css_style%>">
                        <%if (@is_author) %>
                          <div class="questionmaster"></div>
                        <%end%>
                      </div>
                  </div>
                  <% end %>
                  <%  ## he/she chose option0
                      if (@is_author and guesser_answers[index] == hash["option0"]) or
                        (!@is_author and hash["answer"] == hash["option0"])
                      css_style = @anon ? "background-image:url('//graph.facebook.com/#{his_id}/picture?type=square')" : ""
                  %>
                  <div class="col-xs-2 col-md-2 message_profile_icon <%= @anon ? "not_anon" : "anon"%>">
                      <div class="message_profile_pic" style="<%=css_style%>">
                        <%if (!@is_author) %>
                          <div class="questionmaster"></div>
                        <%end%>
                      </div>
                  </div>
                  <% end %>

              </div>
              <div class="col-xs-6 col-md-6">
                <%if ((!@is_author and guesser_answers[index] == hash["option1"]) or
                        (@is_author and hash["answer"] == hash["option1"])) and
                      ((@is_author and guesser_answers[index] == hash["option1"]) or
                        (!@is_author and hash["answer"] == hash["option1"]))%>
                    <div class="col-xs-1 col-md-1"></div>
                <%else%>
                    <div class="col-xs-4 col-md-4"></div>
                <%end%>

                  <% ## you chose option1
                     if (!@is_author and guesser_answers[index] == hash["option1"]) or
                        (@is_author and hash["answer"] == hash["option1"])
                        css_style = @anon ? "" : "background-image:url('//graph.facebook.com/#{your_id}/picture?type=square')"
                   %>
                   <!-- me -->
                  <div class="col-xs-2 col-md-2 message_profile_icon <%= @anon ? "anon" : "not_anon"%>">

                      <div class="message_profile_pic" style="<%=css_style%>">
                        <%if (@is_author) %>
                          <div class="questionmaster"></div>
                        <%end%>
                      </div>
                  </div>
                  <% end %>
                  <% ## he chose option1
                     if (@is_author and guesser_answers[index] == hash["option1"]) or
                        (!@is_author and hash["answer"] == hash["option1"])
                        css_style = @anon ? "background-image:url('//graph.facebook.com/#{his_id}/picture?type=square')" : ""
                  %>
                  <!-- him -->
                  <div class="col-xs-2 col-md-2 message_profile_icon <%= @anon ? "not_anon" : "anon"%>">
                      <div class="message_profile_pic" style="<%=css_style%>">
                        <%if (!@is_author) %>
                          <div class="questionmaster"></div>
                        <%end%>
                      </div>
                  </div>
                  <% end %>

              </div>
          </div>
        </div>
      </div>
      <% end %>
      
    </div>

    <div class="line"></div>

    <!-- Controls -->
    <a class="left carousel-control" href="#question_bundle" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#question_bundle" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

      
      <% your_css_style = @anon ? "" : 
                                  "background-image:url('//graph.facebook.com/#{your_id}/picture?type=square')"
                                  
         his_css_style  = @anon ? "background-image:url('//graph.facebook.com/#{his_id}/picture?type=square')" : 
                                  "" 
      %>
      <!-- template of my message -->
      <div class="row" id="my_message" style="display:none;">
          <div class="col-xs-2 col-md-2"></div>
          <div class="col-xs-9 col-md-9 self_message_box">
              <div id="message" class="message"></div>
              <div id="time" class="time_stamp"></div>
          </div>

          <div class="col-xs-3 col-md-3 message_profile_icon <%= @anon ? "anon" : "not_anon"%>">
              <div class="message_profile_pic" style="<%=your_css_style%>"></div>
          </div>
      </div>

      <!-- template of your message -->
      <div class="row" id="your_message" style="display:none;">
        <div class="col-xs-3 col-md-9 message_profile_icon <%= @anon ? "not_anon" : "anon"%>">
            <div class="message_profile_pic" style="<%=his_css_style%>"></div>
              <!-- <div class="message_profile_pic" style="background-image: 
             url('/img/wen.jpg')">
              </div> -->
        </div>

        <div class="col-xs-9 col-md-9 message_box">
            <div id="message" class="message"></div>
            <div id="time" class="time_stamp"></div>
        </div>
      </div>

      <div class="messages">
        <%  time_now = Time.now
            Chat_History[chat_uuid].each do |chat| 
              time = display_time chat["time"]
              if chat["name"] == session[:tester]
        %>
        
        <!-- my message -->
          <div class="row">
              <div class="col-xs-2 col-md-2"></div>
              <div class="col-xs-9 col-md-9 self_message_box">
                  <div id="message" class="message"><%=chat["message"]%></div>
                  <div id="time" class="time_stamp"><%=time%></div>
              </div>
              <div class="col-xs-3 col-md-3 message_profile_icon <%= @anon ? "anon" : "not_anon"%>">
                  <div class="message_profile_pic" style="<%=your_css_style%>"></div>
              </div>
          </div>

        <%else%>
          <!-- your message -->
          <div class="row">
            <div class="col-xs-3 col-md-9 message_profile_icon <%= @anon ? "not_anon" : "anon"%>">
              <div class="message_profile_pic" style="<%=his_css_style%>"></div>
                 <!--  <div class="message_profile_pic" style="background-image: 
                 url('/img/wen.jpg')">
                  </div> -->
            </div>

            <div class="col-xs-9 col-md-9 message_box">
                <div id="message" class="message"><%=chat["message"]%></div>
                <div id="time" class="time_stamp"><%=time%></div>
            </div>
          </div>

        <%end%>
        <%end%>
        
        
        <script>
          // reading
          var es = new EventSource('/chat_stream');
          es.onmessage = function(e) { 
            obj = $.parseJSON(e.data);
            var snippet;
            if(obj["name"] == "<%=session[:tester]%>") {
              snippet = $("#my_message").clone();
            } else {
              snippet = $("#your_message").clone();
            }
            snippet.find('#message').html(obj["message"]);
            snippet.find('#time').html(obj["time"]);
            snippet.css("display", "inline")
            $('.messages').append(snippet);
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
          };

        </script>

        </div>
        <!-- messages -->
        <a id="bottom"></a>

    </div>
</div>

  <form id="chatselectform" class="form-horizontal" role="form" action="chat_select" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        function goBack(){
          var homeform = document.forms["chatselectform"];
          homeform.submit();
        }
           //]]>
        </script>

<br>
<br>
<br>
<br>

      <!-- FOOTER -->
      <div class="footer">
         <form>
          <input style="height:35px; width:235px;" id='msg' placeholder='在這輸入訊息...' />
          <input type="submit" class='btn btn-default' value="傳送">
        </form>
      </div>
      <script>  
      // $("html, body").animate({ scrollTop: $(document).height() }, "slow");
       // writing
          $("form").on('submit',function(e) {
            $.post('/chat', {msg: $('#msg').val()});
            $('#msg').val(''); $('#msg').focus();
            
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
            
            e.preventDefault();
          });
      </script>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
