<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link rel="stylesheet" type="text/css" href="css/categ.css">
    <link rel="stylesheet" type="text/css" href="css/chat_select.css">
    
    <script src="js/eventsource.min.js"></script>

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 15pt;
    }
    #coinicon{
      display: inline-block;
    }


    #pbtn, #rbtn, #sbtn, #fbtn{
      min-height: 60px;
      font-size: 15pt;
      background-color: #474747;
      color: #FFFFFF;
      text-align: left;
    }
    </style>


    <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->

       <%= erb(:my_other_icons, :layout => false) %>


  <!-- <h1>Records</h1> -->

 <div class="row">
    <div id="chat_background" class="col-xs-11 col-md-3">
  
      <% @chats.each do |uuid, chat| 
        id = chat["fb_id"]
        css_style = "background-image:url('//graph.facebook.com/#{id}/picture?type=square')"%>
        <div class="message_box <%= (chat["anon"] == "true" ? "anon" : "not_anon") %>" onclick="gotoChatRoom('<%=uuid%>')">

          <div class="col-xs-3 col-md-3 profile_container">
            <div class="profile_pic" style="<%=(chat["anon"] != "true") ? css_style : ""%>" >
                  <div class="blue_dot" id="<%=uuid%>_dot" <% if chat["unread"] == BG_FALSE %> style="display:none;"<% end %>></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-8 content_box">
            <div class="content_name">
              <%=chat["display_name"]%>
            </div>
            <div class="content_msg" id="<%=uuid%>_msg">
              <%=chat["last_message"]%>
            </div>  
          </div>

          <div class="col-xs-2 col-md-2 time_stamp<%= (chat["anon"] == "true" ? "" : " self_anon") %>">
            <br>
            <br>
            <br>
            <font size="2pt" color="#9d9d9d">
              <span id="<%=uuid%>_time"><%=chat["last_message_time"]%></span>
            </font>
          </div>
        </div>

      <% end %>
    </div>
</div>

<script>
  var es = new EventSource('/chat_notif');
  es.onmessage = function(e) {
    console.log("chat: " + e.data);
    obj = $.parseJSON(e.data);
    $("#" + obj["chat_uuid"] + "_msg").html(obj["message"]);
    $("#" + obj["chat_uuid"] + "_time").html(obj["time"]);
    $("#" + obj["chat_uuid"] + "_dot").css("display", "");
  };
</script>

  <form id="chatroomform" class="form-horizontal" role="form" action="continue_chat" method="post">
    <input id="uuidInput" type="hidden" name="uuid" value=""/>
  </form>
  <script type="text/JavaScript">
    //<![CDATA[
    function gotoChatRoom(uuid){
      var homeform = document.forms["chatroomform"];
      $("#uuidInput").val(uuid);
      homeform.submit();
    }
       //]]>
  </script>



      <!-- FOOTER -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
    <script src="js/basic_display.js"></script>
  </body>
</html>
