<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script src="js/basic_display.js"></script>
  </head>
  <style>
  #red_background{
      /*background: #d2ffea;*/
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }
  </style>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
  </script>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



<%= erb(:my_other_icons, :layout => false) %>


 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">
</br>
              <b><center><font size="5pt">恭喜！</br>你得到了</font></center></b>
            </br>
              <center><font size="4pt"> <img src="/img/coinnew.png" alt="Smiley face" width="45" height="45"> <font size="3pt"><span class="glyphicon glyphicon-remove"></font> 100</font></center>
            </br>
                <!-- <div class="col-xs-4 col-sm-5"><center>Level <%=@@level[session[:tester]]%></center></div>
                <div class="col-xs-8 col-sm-6"> 
                  <div class="progress">
                    <div class="progress-bar progress-bar-info active"  role="progressbar" aria-valuenow="<%=@@progress[session[:tester]]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@@progress[session[:tester]]%>%">
                     <span class="sr-only"><%=@@progress[session[:tester]]%>% Complete</span>
                    </div>
                  </div> 
                </div>  -->
            </br>




      </br></br>
              <%if @gonnaLevelUp == true%>
                  <form class="form-horizontal" role="form" action="level_up" method="post">
                    <center><button type="submit" class="btn green_button btn-block">下一步</button></center>
                  </form>
              <%else%>
                  <div class="col-xs-6 col-md-5">
                      <form class="form-horizontal" role="form" action="home" method="post">
                        <center><button type="submit" class="btn grass_green_long_button btn-block">回主選單</button></center>
                      </form>
                  </div>
                  <div class="col-xs-6 col-md-5">
                      <form class="form-horizontal" role="form" action="choose_people" method="post">
                        <center><button type="submit" class="btn green_button btn-block">繼續比</button></center>
                      </form>
                  </div>
              <%end%>

        </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
