<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/tdfriendselector.css" /><!-- Style source: tdfriendselector.scss -->
    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script src="js/basic_display.js"></script>

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 13pt;
    }
    #coinicon{
      display: inline-block;
    }

    #red_background{
      /*background: #d2ffea;*/
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 500px;
      min-height: 220px;
    }

    .col-xs-6{
      padding-left: 0px;
      padding-right: 0px;
    }

    #select_frd{
      padding-left: 20px;

    }
    #option0,#option1{
      display: inline-block;
    }
    </style>

      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
  </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    
    <div class="container marketing">
  <!-- <h1>Records</h1> -->
  <div class="row">
    <div id="level_display" class="col-xs-5 col-sm-3" onclick="levelClicked()"><center>等級<br><font size="5pt"><%=@@level[session[:tester]]%></font> </center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="home_display" class="col-xs-2 col-sm-2" onclick="backtohome()"><center>
      <!-- <img src="/img/home.png" alt="Smiley face" width="35" height="35"> -->
    </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2" onclick="coinClicked()"><%= @@coins[session[:tester]] %></div>
  </div>

  <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        new level_progress("level_display","<%=@@progress[session[:tester]]%>");
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>


  <!-- <h1>Records</h1> -->

 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

</br>
            <b><center><font size="5pt">這樣的對戰組合你滿意嗎?</font></center></b>
          </br>
            <div>
            <center><font size="5pt"><div id="option0"><%=@initial_first%></div>
            <button id="shuffle_option0" type="button" class="btn orange_shuffle_button">換  </button>  </font></center>

            <center><font size="5pt" color="gray">vs</font></center>
       
            <center><font size="5pt"><div id="option1"><%=@initial_second%></div>
             <button id="shuffle_option1" type="button" class="btn orange_shuffle_button">換</button></font></center>
            </div>
        
          <!-- <div class="row"> -->
            <center>
              <!-- <div class="col-xs-6 col-md-6"> -->
                  <button id="shufflebtn" type="button" class="btn orange_button">全換</button>    
                  <div> 換一次<img src="/img/coinnew.png" alt="Smiley face" width="25" height="25">10</div><br>
              <!-- </div> -->
            </center>

            
              <div id="select_frd" class="col-xs-6 col-md-5">
                  <button id="select-friends-btn" class="btn pink_button btn-block" onclick="selectFriends()">選更多朋友!</button>
                  <span id="status"></span>
              </div>
            
          <!-- </div> -->
            
          <form id="people_form" class="form-horizontal" role="form" action="choose_answer" method="post">
                  <input type="hidden" name="option0" value=""> 
                  <input type="hidden" name="option1" value=""> 
          </form>
              <div id="select_frd" class="col-xs-6 col-md-5">
                  <center><button class="btn btn-block green_button" onclick="nextClicked()">下一步<span class="glyphicon glyphicon-chevron-right"></span></button></center>
              </div>
          
      </div>
  </div>
</div><!-- /.container -->

      <script type="text/JavaScript">
                 //<![CDATA[



                    var myform = document.forms["people_form"];
                    var option0ele = document.getElementById("option0");
                    var option1ele = document.getElementById("option1");
                    var shufflebtn = document.getElementById("shufflebtn");
                    var shuffle_option0_btn = document.getElementById("shuffle_option0");
                    var shuffle_option1_btn = document.getElementById("shuffle_option1");
                    var coinele =  document.getElementById("coin_display");
                    var timesleftele = document.getElementById("timesleft");
                    myform.option0.value = option0ele.innerHTML;
                    myform.option1.value = option1ele.innerHTML;
                    var player = "<%=session[:tester]%>";
                    var friendNames = [<%= @@friends[session[:tester]].map { |name| '"' + name + '"' }.join(", ") %>];
                    var costPerShuffle = 10;

                    console.log(friendNames[0]);
                    shuffle_option0_btn.onclick = function(){shuffle_func(0);}
                    shuffle_option1_btn.onclick = function(){shuffle_func(1);}
                    shufflebtn.onclick = function(){shuffle_func(3);}

                    var nextClicked = function(){
                        if(friendNames.length < 2){
                            alert("可以選的朋友不夠多哦...\n請選擇幾個朋友來玩吧！");
                            return;
                        }
                        myform.submit();
                    }

                    var shuffle_func = function(option){
                        var coinsNum = parseInt(coinele.innerHTML);
                        if(coinsNum < costPerShuffle){
                          alert("金幣不夠了...");
                          return;
                        }
                        if(friendNames.length < 3){
                          alert("可以選的朋友不夠多哦...\n請選擇幾個朋友來玩吧！");
                          return;
                        }
                        current_option0 = option0ele.innerHTML;
                        current_option1 = option1ele.innerHTML;
                        if(option==0 || option==3){
                          do {
                            var new_option0 = friendNames[Math.floor(Math.random()*friendNames.length)];
                          } while (new_option0 == player || new_option0 == current_option1 || new_option0 == current_option0);
                          current_option0 = new_option0;
                          option0ele.innerHTML = new_option0;
                          myform.option0.value = option0ele.innerHTML;
                        }
                        if(option==1 || option==3){
                          do {
                            var new_option1 = friendNames[Math.floor(Math.random()*friendNames.length)];
                          } while (new_option1 == player || new_option1 == current_option0 || new_option1 == current_option1);
                          current_option1 = new_option1;
                          option1ele.innerHTML = new_option1;
                          myform.option1.value = option1ele.innerHTML;
                        }
                        
                        
                        myform.option1.value = option1ele.innerHTML;
                        coinsLeft = coinsNum - costPerShuffle;
                        coinele.innerHTML = coinsLeft.toString();

                        // timesleft = parseInt(timesleftele.innerHTML);
                        // timesleft = timesleft - 1;
                        // if (timesleft == 0){
                        //   timeleftbigele = document.getElementById("timesleftbig");
                        //   timeleftbigele.parentNode.removeChild(timeleftbigele);
                        //   shufflebtn.style.visibility = 'hidden';
                        // }else{
                        //   timesleftele.innerHTML = timesleft.toString();
                        // }

                        var myXHR = new XMLHttpRequest();
                        myXHR.open("POST", "/shuffle_people" + "?tester=" + player + "&coinsLeft=" + coinele.innerHTML);
                        myXHR.onreadystatechange = function() {
                             if (this.readyState != 4) {
                                return;
                             }
                             if (this.status == 200) {
                                return;
                             } else {
                               console.log("error occurred!");
                             }
                         }
                         myXHR.send();
                    }
                 //]]>
      </script>
      <!-- FOOTER -->



<!-- Markup for These Days Friend Selector -->
    <div id="TDFriendSelector">
      <div class="TDFriendSelector_dialog">
        <div class="TDFriendSelector_form">
          <div class="TDFriendSelector_header">
            <p>選想要出現在遊戲裡的朋友</p>
          </div>
          <div class="TDFriendSelector_content">
            <!-- <p>選你想要出現在遊戲裡的5位朋友們:s-D 別擔心，這不會送出任何邀請！</p> -->
            <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
              <div class="TDFriendSelector_selectedCountContainer">已選<span class="TDFriendSelector_selectedCount">0</span>位朋友</div>  
              <input type="text" placeholder=" 搜尋朋友" id="TDFriendSelector_searchField" />
            </div>
            <div class="TDFriendSelector_friendsContainer"></div>
          </div>
          <div class="TDFriendSelector_footer TDFriendSelector_clearfix">

            <a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">Previous</a>
            <a href="#" id="TDFriendSelector_pageNext">Next</a>
            <div class="TDFriendSelector_pageNumberContainer">
               <span id="TDFriendSelector_pageNumber">1</span> / <span id="TDFriendSelector_pageNumberTotal">1</span>頁
            </div>
            <a href="#" id="TDFriendSelector_buttonOK">OK</a>
          </div>
        </div>
      </div>
    </div>


  <form style="display: hidden" action="choose_people" method="POST" id="resubimt">
    <input type="hidden" name="categ" value="<%=session[:categ]%>"/>
    <input type="hidden" name="addedMore" value="true"/>
    <input id="number" type="hidden" name="number" value="0"/>
  </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
    <script src="/js/callbackBarrier.js"></script>
    <script src="/js/tdfriendselector.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '610309559054620',
          cookie     : true,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v1.0' // use version 2.0
        });
      }; 
      
      var selector, logActivity, callbackMaxSelection, callbackSubmit;

      // When the user clicks OK, log a message
      callbackSubmit = function(me, selectedFriendNames, FBFriends) {
        logActivity('Added more friends with the following friends selected: ' + selectedFriendNames.join(", "));
        $("#status").html("等一下喲!");
        $.ajax({
          type: "POST",
          url: "<%=URL + '/moreFriendNames'%>",
          data: { selectedFriendNames:selectedFriendNames},
          success: function( data ) {
            $("#number").val(selectedFriendNames.length);
            $("#resubimt").submit();
          }
        });
      };
      
      // Initialise the Friend Selector with options that will apply to all instances
      TDFriendSelector.init({debug: true});

      // Create some Friend Selector instances
      selector = TDFriendSelector.newInstance({
        callbackMaxSelection     : callbackMaxSelection,
        callbackSubmit           : callbackSubmit,
        maxSelection             : 6,
        minSelection             : 0,
        friendsPerPage           : 5,
        autoDeselection          : false
      });

      logActivity = function (message) {
        console.log(message);
        // $("#results").append('<div>' + new Date() + ' - ' + message + '</div>');
      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
     
      function selectFriends() {
        $("#select-friends-btn").remove();
        $("#status").html("等一下喲！正在載入中...");
        selector.showFriendSelector();
      }
    </script>
  </body>
</html>
