<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 15pt;
    }
    #coinicon{
      display: inline-block;
    }

    #red_background{
      background: #caecfa;
      border-radius: 5px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }

    .guessbtn{
      background: #9bcd8a;
      font-size: 12pt;
    }

    .guessbtn:hover{
      color: #424242;
    }
    </style>

    <script type="text/JavaScript">
    //<![CDATA[

      function guessButton(btnid, uuid, coins){
        var obj = this;
        obj.uuid = uuid;
        obj.btnelement = document.getElementById(btnid);
        obj.coins = parseInt(coins);
        obj.btnelement.onclick = function(){obj.btnClicked();}    
      }

      guessButton.prototype.btnClicked = function(){
        var obj = this;
        if(obj.coins < 50){
          alert("Not enough coins to play GUESS...");
          return;
        }
        var myform = document.forms["playform"];
        myform.uuid.value = obj.uuid;
        myform.submit();
      }

        //]]>
    </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->
   <form id="playform" class="form-horizontal" role="form" action="guess" method="post">
       <input type="hidden" name="uuid" value=""> 
    </form>


   <div class="row">
    <div id="player_name" class="col-xs-5 col-sm-3" onclick="backtohome()">
      <center>
        <span class="glyphicon glyphicon-home"></span> 主選單
      </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><div id="coinicon"><%= @@coins[session[:tester]] %></div></center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="gem_display" class="col-xs-2 col-sm-2" onclick="refillEnergy()"><center><img src="/img/medal.png" alt="Smiley face" width="25" height="25">
    </center>
    </div>
    <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
  </div>

       <script type="text/JavaScript">
        //<![CDATA[
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>

  <!-- <h1>Records</h1> -->

 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

</br>

              
    <div>
      <%@bundle_array.each do |bundle|%>
        <% name = bundle[3] %>
        <%next if @@librarian.has_played?(session[:tester], bundle[0])%>
        <%quiz_array = bundle[1]%>
        <%puts "quiz_array[0]"%>
        <%puts quiz_array[0][:option0]%>
          <%btnid = "button" + bundle[0]%>
          <center><button id="<%=btnid%>" class="btn btn-block guessbtn" name="uuid" value="<%=bundle[0]%>" >猜<%=name%>如何比較</br><%=quiz_array[0]["option0"]%> vs <%=quiz_array[0]["option1"]%></button></center>
        <script type="text/javascript">
          //<![CDATA[
             new guessButton("<%=btnid%>","<%=bundle[0]%>","<%=@@coins[session[:tester]]%>");
          //]]>
        </script>
      <%end%>
    </div>

              <form class="form-horizontal" role="form" action="choose_guess_categ" method="post">
              <div class="col-xs-12 col-sm-12">
                <center><button type="submit" class="btn btn-info btn-block">上一頁</button></center>
              </div>
              </form>


      </div>
  </div>




      <!-- FOOTER -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
