<!DOCTYPE html>
<html lang="en">
<%@@names.delete(nil)%>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/RadarChart.js"></script>
    <script src="js/WTPentagon.js"></script>
    <script src="js/basic_display.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/guiders.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/guiders.js"></script>


    <script type="text/JavaScript">
    //<![CDATA[
    //global variables

      function guessButton(btnid, uuid, coins){
        var obj = this;
        obj.uuid = uuid;
        obj.btnelement = document.getElementById(btnid);
        obj.coins = parseInt(coins);
        obj.btnelement.onclick = function(){obj.btnClicked();}    
      }

      guessButton.prototype.btnClicked = function(){
        var obj = this;
        if(obj.coins < 50){
          alert("Not enough coins to play GUESS...");
          return;
        }
        var myform = document.forms["playform"];
        myform.uuid.value = obj.uuid;
        myform.submit();
      }

    priceOfUnlock = 5;
    function UnlockBtn(btnParentId, btnId, index, coinId, author,tester){
       this.btnParent = document.getElementById(btnParentId);
       this.btn = document.getElementById(btnId);
       this.coinLabel = document.getElementById(coinId);
       this.recordIndex = index;
       this.author = author;
       this.tester = tester;
       var obj = this;
       this.btn.onclick = function(){obj.btnClicked();}    
    }
    UnlockBtn.prototype.btnClicked = function(){
       var obj = this;
       var coinsNum = parseInt(obj.coinLabel.innerHTML);
       console.log(obj.coinLabel.innerHTML)
       console.log(coinsNum)
       if(coinsNum < priceOfUnlock){
           window.alert("sorry, not enough coins...");
           return;
       }
       obj.coinLabel.innerHTML = (coinsNum - priceOfUnlock).toString();
       obj.btnParent.removeChild(obj.btn);
       var authorTextNode = document.createTextNode(obj.author);
       obj.btnParent.appendChild(authorTextNode);
       //send request
       var myXHR = new XMLHttpRequest();
       //myXHR.open("GET", "/unlock");
       myXHR.open("POST", "/unlock" + "?tester=" + obj.tester + "&unlockID=" + obj.recordIndex);
       myXHR.onreadystatechange = function() {
           if (this.readyState != 4) {
              return;
           }
           if (this.status == 200) {
              return;
           } else {
             console.log("error occurred!");
           }
       }
       myXHR.send();
    }



    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52817227-4', 'auto');
  ga('send', 'pageview');
    //]]>
    </script>

    <style>
        .my-first-container [class^="col-"] {
          padding-top: 10px;
          padding-bottom: 10px;
          margin-bottom: 30px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);

          .my-inner {
            padding: 5px;
            background-color: rgba(255,255,255,.0);
            border: 1px dashed rgba(0,0,0,.4);
  }
      }
     .my-container [class^="col-"] {
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);

          .my-inner {
            padding: 5px;
            background-color: rgba(255,255,255,.0);
            border: 1px dashed rgba(0,0,0,.4);
  }
      }

      #playpanel{
        background-color: #f6d0d0;
        background-image:url('/img/play.png');
        background-size: 123px 100px;
        background-repeat: no-repeat;
        background-position:center; 
        font-family: 'Open Sans', sans-serif;
      }
      #guesspanel{
        background-color: #9bf1bd;
        background-image:url('/img/guess.png');
        background-size: 123px 100px; 
        background-repeat: no-repeat;
        background-position:center;  
      }
      #viewpanel{
        background-color: #caecfa; 
        background-image:url('/img/view.png');
        background-size: 123px 100px; 
        background-repeat: no-repeat;
        background-position:center; 
      }
      #choose-section{
        padding-left: 7px;
        padding-top: 5px;
        min-width: 316px;
      }
      .ticket{
        background-image: url('/img/ticket.png');
        background-size: 70px 150px;
        background-repeat: no-repeat;
        background-position:absolute;
        /*background-position: 15px 15px;*/
        /* IE 9 */
        -ms-transform: rotate(30deg); 
        /* Chrome, Safari, Opera */
        -webkit-transform: rotate(30deg); 
        transform: rotate(30deg);
        display: inline-block;
        margin-left: 10px;
        width: 70px;
        height: 150px;
        color:#000000;
        padding-left: 15px;
        line-height: 130%;
        float: left;
      }
      .last_line{
        line-height: 250%;
      }

    #medal_home_display{
      background: #f54360;
      background-image: url('/img/trophie.png');
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position:absolute;
      background-position: 5px 5px;
      border-radius: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0px;
      /*padding-right: 21px;*/
      font-size: 18pt;
      height: 50px;
      width: 50px;
      text-align: right;
      line-height: 182%;
      cursor: pointer;
    }

    .reprecode{
      background-image: url('/img/code.png');
      background-size: 255px 255px;
      background-repeat: no-repeat;
      background-position:absolute;
      width: 255px;
      height: 255px;
      color:#FFFFFF;
      line-height: 2850%;
      text-align: center;
      font-size: 11pt;
    }
    </style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

     <script type="text/JavaScript">
    //<![CDATA[
        var medalClicked=function(){
          var myform = document.forms["rankingsform"];
          myform.submit();
        }
        var coinClicked=function(){
          alert("在玩遊戲中會得到金幣！\n可以用金幣來看朋友的性向分析哦！");
          return;
        }

        //]]>
    </script>

    <form id="nextform" role="form" action="refill" method="post">   
           <input type="hidden" name="tester" value="<%=session[:tester]%>"> 
    </form>
    <form id="rankingsform" class="form-horizontal" role="form" action="rankings" method="post">
    </form>
    <form id="playform" class="form-horizontal" role="form" action="guess" method="post">
       <input type="hidden" name="uuid" value=""> 
    </form>

  <div class="row">
    <div id="level_home_display" class="col-xs-4 col-sm-3" onclick="levelClicked()"><center>等級<br><font size="5pt"><%=@@level[session[:tester]]%></font> </center></div>
    <div id="medal_home_display" class="col-xs-3 col-sm-4" onclick="medalClicked()"><center>
        <!-- <img src="/img/trophie.png" alt="Smiley face" width="43" height="43"> -->
      </center>
    </div>
    <div id="chat_display" class="col-xs-2 col-sm-4" onclick="gotochat()">
      <div id="chat_dot_display">2
      </div>
    </div>
    <div id="coin_home_display" class="col-xs-3 col-sm-2" onclick="coinClicked()"><%= @@coins[session[:tester]] %></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
  </div>
  <form id="chatform" class="form-horizontal" role="form" action="chat_select" method="post"></form>
         <script type="text/JavaScript">
        //<![CDATA[
        new level_progress("level_display","<%=@@progress[session[:tester]]%>");
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
        function gotochat(){
          var homeform = document.forms["chatform"];
          homeform.submit();
        }
           //]]>
        </script>


  <div class="row">
    <div id="name_pentagon_background" class="col-xs-11 col-md-7" onclick="goreport()">



<div id="name_display"><%=session[:tester]%></div>
    <div id="body1">
       <div id="chart1" ></div>
    </div>
      

     <script type="text/JavaScript">
        //<![CDATA[
          new level_progress("level_home_display","<%=@@progress[session[:tester]]%>");

          var firstPentagon = [
              [
              {axis:"感情",value:<%=@@score_buffer[@name]["old"]["R"]%>},
              {axis:"專業",value:<%=@@score_buffer[@name]["old"]["P"]%>},
              {axis:"社交",value:<%=@@score_buffer[@name]["old"]["S"]%>}
              ],[
              {axis:"感情",value:<%=@@score_buffer[@name]["new"]["R"]%>},
              {axis:"專業",value:<%=@@score_buffer[@name]["new"]["P"]%>},
              {axis:"社交",value:<%=@@score_buffer[@name]["new"]["S"]%>}
              ]
          ];

          var oldColor1 = "#fffc06";
          var newColor1 = "#ff7c06";
          new Pentagon(firstPentagon, '<%=@time_difference%>',oldColor1,newColor1,"body1","chart1","#body1","#chart1");

          <% if @fromLogin == "true" %>
            guiders.createGuider({
              attachTo: "#name_display",
              buttons: [{name: "知道了", onclick: guiders.hideAll}],
              description: "點擊你的名字或三角圖都會帶你去看個性分析喲！",
              id: "first",
              next: "second",
              position: 7,
              overlay: true,
              title: "小老師",
              width: 200
            }).show();
          <% end %>
      </script>


    </div>
  </div>

  <div class="row">
    <div id="green_background" class="col-xs-11 col-md-3" onclick="gocompare()" onmouseover="" style="cursor: pointer;">
    </br>
        比一下  
    </div>
    <div id="blue_background" class="col-xs-11 col-md-3" onclick="goguess()" onmouseover="" style="cursor: pointer;">
          </br>
        猜一下
    </div>
  </div>
<%if @parcel_array.count != 0%>
  <div class="row">
    <div id="news_section">
      <div id="news_title"><span class="glyphicon glyphicon-bookmark"></span> 最新動態</div>
        <%@parcel_array.each do |parcel|%>
          <%quiz = parcel[1][0]%>
          <%btnid = "button" + parcel[0]%>
          <div class="row">
            <div class="yellow_background col-xs-11 col-md-10">
              <div class="col-xs-8 col-md-10">
              <b><span class="compare_author"><%= display_name(parcel[3],parcel[4],session[:tester])%></span></b>剛剛比了<b><span class="compare_option"><%=quiz["option0"]%></span></b>跟<b><span class="compare_option"><%=quiz["option1"]%></span></b>
              </div>
              <div class="col-xs-1 col-md-1">
                <font onmouseover="" style="cursor: pointer;">
                  <button id="<%=btnid%>" class="orange_small_circle" name="uuid" value="<%=parcel[0]%>">去猜</button>
                </font>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            //<![CDATA[
               new guessButton("<%=btnid%>","<%=parcel[0]%>","<%=@@coins[session[:tester]]%>");
            //]]>
          </script>

        <%end%>
    <!-- news_section -->
    </div>
  <!-- row class -->
  </div>
<%end%>

</div>

        <form id="compareform" class="form-horizontal" role="form" action="choose_categ" method="post">
        </form>

        <form id="guessform" class="form-horizontal" role="form" action="choose_guess_categ" method="post">
        </form>

        <form id="reportform" class="form-horizontal" role="form" action="view_my_report" method="post">
        </form>


     <script type="text/JavaScript">
    //<![CDATA[
        function gocompare(){
            compareform = document.forms["compareform"];
            compareform.submit();
        }
        function goguess(){
            guessform = document.forms["guessform"];
            guessform.submit();
        }
        function goreport(){
            reportform = document.forms["reportform"];
            reportform.submit();
        }



        var isIphone;
        if( screen.width <= 640 ) {
            // coin_display.innerHTML = screen.width.toString();
            // chartelement = document.getElementById(chartID);
        }else{
            // green_background_element = document.getElementById("green_background");
            // blue_background_element = document.getElementById("green_background");
            // red_background_element = document.getElementById("red_background");
            // yellow_background_element = document.getElementById("yellow_background");
            name_pentagon_background.style.height="390px";
            name_pentagon_background.style.width="585px";
            name_display.style.width="580px";
            green_background.style.marginLeft="120px";
            green_background.style.marginRight="100px";
            // blue_background.style.width="323px";
            // medal_display.style.marginRight="350px";
            news_section.style.width = "585px";
            // name_display.style.width="380px";
            // name_display.style.marginLeft="80px";
        }


       

      function guessButton(btnid, coins){
        var obj = this;
        obj.btnelement = document.getElementById(btnid);
        obj.coins = parseInt(coins);
        obj.btnelement.onclick = function(){obj.btnClicked();}    
      }

      guessButton.prototype.btnClicked = function(){
        var obj = this;
        if(obj.coins < 50){
          alert("Not enough coins to play GUESS...");
          return;
        }
        var myform = document.forms["guessform"];
        myform.submit();
      }

        //]]>
    </script>

  <!-- <h1>Records</h1> -->

 




      <!-- FOOTER -->


    </div><!-- /.container -->

<!-- Button trigger modal -->
<button id="vipBtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#vip_code">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="vip_code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">關閉</span></button>
          <b>恭喜！你晉升成為班代了！<br><br></b>
          班代好處多多！<br>例如：你拿到了一筆<img src="/img/coinnew.png" alt="Smiley face" width="20" height="20">5000的獎學金！<br>
          以及，你有專屬的 CODE :
          <br><br>
          <% if @vip_code%>
                <div class="reprecode">
                  <%=@vip_code%>
                </div>
          <%end%>
          <br>
        <b>這個 CODE 可以讓新玩家登入，並且可以使用無限多次！</b><br>
        <b>每一次新玩家用你的 CODE 登入，你都會拿到<img src="/img/coinnew.png" alt="Smiley face" width="20" height="20">200的獎學金哦！</b><br>
        <b>敬請多多使用！</b>
      </div>
    </div>
  </div>
</div>




    <!-- Button trigger modal -->
<button id="messagebtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#invite_code">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="invite_code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%if @codes%>
            你還有<%=@codes.count%>張VIP入場卷！
            <br><br><br>
            <% if @codes[0]%>
                <div class="col-xs-4 col-md-2">
                  <div class="ticket">
                    <br>
                    <%=@codes[0]%>
                    <br><br><br><br><br>
                    <div class="last_line">
                      <%=@codes[0]%>
                    </div>
                  </div>
                </div>
            <%end%>
            <% if @codes[1]%>
                <div class="col-xs-4 col-md-2">
                  <div class="ticket">
                  <br>
                    <%=@codes[1]%>
                    <br><br><br><br><br>
                    <div class="last_line">
                      <%=@codes[1]%>
                    </div>
                  </div>
                </div>
            <%end%>
            <% if @codes[2]%>
                <div class="col-xs-4 col-md-2">
                  <div class="ticket">
                    <br>
                    <%=@codes[2]%>
                    <br><br><br><br><br>
                    <div class="last_line">
                      <%=@codes[2]%>
                    </div>
                  </div>
                </div>
            <%end%>
            <br><br><br><br><br><br><br><br><br>
          <%else%>
            你已經沒有VIP入場卷了！
            <br><br><br>
          <%end%>
        <b>什麼是VIP入場卷呢？</b><br>
        你有朋友想加入遊戲嗎？或者你想要邀請他加入遊戲？那麼，就給他一組VIP入場卷上的號碼吧！這樣他才能進入遊戲哦！<br>
        <br>
        <b>為什麼這個遊戲要VIP入場卷？</b><br>
        因為這個遊戲的初衷，就是要跟大家的好朋友們玩一個遊戲！所以你身為早期玩家，當然有特權邀請你的朋友囉！<br>
        <br>
        <b>我要怎麼使用VIP入場卷？</b><br>
        告訴你的朋友一張VIP入場卷的號碼，他輸入後就可以進入遊戲啦！請注意，你只有三張入場卷，用完就沒啦！
      </div>
    </div>
  </div>
</div>


  <script type="text/javascript">
  //<![CDATA[
    var msgbtn = document.getElementById("messagebtn");
    msgbtn.style.visibility='hidden';
    $("#vipBtn").hide();

    console.log(<%=@fromLogin%>);

    if(<%=@fromLogin%> == true){
      if(<%=@show_vip_code%> == true) {
        setTimeout(function(){
          $("#vipBtn").click();}, 0);
      } else {
        setTimeout(function(){
          msgbtn.click();},0);
      }
    }

    if(<%=@show_vip_code%> == true) {
      $("#code_display").on("click", function(){
        $("#vipBtn").click();
      });

    } else {
      $("#ticket_display").on("click", function(){
        msgbtn.click();
      });
    }

</script>









    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
