<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/RadarChart.js"></script>
    <script src="js/WTPentagon.js"></script>

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 

    <script type="text/JavaScript">
    //<![CDATA[
    //global variables

    priceOfUnlock = 5;
    function UnlockBtn(btnParentId, btnId, index, coinId, author,tester){
       this.btnParent = document.getElementById(btnParentId);
       this.btn = document.getElementById(btnId);
       this.coinLabel = document.getElementById(coinId);
       this.recordIndex = index;
       this.author = author;
       this.tester = tester;
       var obj = this;
       this.btn.onclick = function(){obj.btnClicked();}    
    }
    UnlockBtn.prototype.btnClicked = function(){
       var obj = this;
       var coinsNum = parseInt(obj.coinLabel.innerHTML);
       console.log(obj.coinLabel.innerHTML)
       console.log(coinsNum)
       if(coinsNum < priceOfUnlock){
           window.alert("sorry, not enough coins...");
           return;
       }
       obj.coinLabel.innerHTML = (coinsNum - priceOfUnlock).toString();
       obj.btnParent.removeChild(obj.btn);
       var authorTextNode = document.createTextNode(obj.author);
       obj.btnParent.appendChild(authorTextNode);
       //send request
       var myXHR = new XMLHttpRequest();
       //myXHR.open("GET", "/unlock");
       myXHR.open("POST", "/unlock" + "?tester=" + obj.tester + "&unlockID=" + obj.recordIndex);
       myXHR.onreadystatechange = function() {
           if (this.readyState != 4) {
              return;
           }
           if (this.status == 200) {
              return;
           } else {
             console.log("error occurred!");
           }
       }
       myXHR.send();
    }
    //]]>
    </script>

    <style>
        .my-first-container [class^="col-"] {
          padding-top: 10px;
          padding-bottom: 10px;
          margin-bottom: 30px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);

          .my-inner {
            padding: 5px;
            background-color: rgba(255,255,255,.0);
            border: 1px dashed rgba(0,0,0,.4);
  }
      }
     .my-container [class^="col-"] {
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);

          .my-inner {
            padding: 5px;
            background-color: rgba(255,255,255,.0);
            border: 1px dashed rgba(0,0,0,.4);
  }
      }

      #playpanel{
        background-color: #f6d0d0;
        background-image:url('/img/play.png');
        background-size: 123px 100px;
        background-repeat: no-repeat;
        background-position:center; 
        font-family: 'Open Sans', sans-serif;
      }
      #guesspanel{
        background-color: #9bf1bd;
        background-image:url('/img/guess.png');
        background-size: 123px 100px; 
        background-repeat: no-repeat;
        background-position:center;  
      }
      #viewpanel{
        background-color: #caecfa; 
        background-image:url('/img/view.png');
        background-size: 123px 100px; 
        background-repeat: no-repeat;
        background-position:center; 
      }
      #choose-section{
        padding-left: 7px;
        padding-top: 5px;
        min-width: 316px;
      }
    #red_background{
      background: #ffe5f8;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 20pt;
      min-width: 300px;
      max-width: 653px;
      min-height: 270px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #green_background{
      /*background-image:url('/img/play.png');*/
      /*background-size: 123px 100px; */
      background: #d2ffea;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      width: 147px;
      height: 85px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #blue_background{
      background: #caecfa;
      /*background-image:url('/img/guess.png');*/
      /*background-size: 123px 100px; */
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      width: 147px;
      height: 85px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #yellow_background{
      background: #fcf6b9;
      /*background-image:url('/img/guess.png');*/
      /*background-size: 123px 100px; */
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      min-width: 300px;
      max-width: 653px;
      min-height: 110px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    </style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

     <script type="text/JavaScript">
    //<![CDATA[
        var medalClicked=function(){
          var myform = document.forms["rankingsform"];
          myform.submit();
        }
        var coinClicked=function(){
          alert("Coin is the main currency of this game.\nCoin can be used to buy information, shuffle or bet.");
          return;
        }

        //]]>
    </script>

    <form id="nextform" role="form" action="refill" method="post">   
           <input type="hidden" name="tester" value="<%=session[:tester]%>"> 
    </form>
    <form id="rankingsform" class="form-horizontal" role="form" action="rankings" method="post">
    </form>
    <form id="playform" class="form-horizontal" role="form" action="play" method="post">
       <input type="hidden" name="uuid" value=""> 
    </form>

  <div class="row">
    <div id="level_display" class="col-xs-5 col-sm-3" onclick="levelClicked()"><center>等級 <%=@@level[session[:tester]]%> </center></div>
    <div id="coin_display" class="col-xs-4 col-sm-2" onclick="coinClicked()"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><%= @@coins[session[:tester]] %></center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="medal_display" class="col-xs-2 col-sm-2" onclick="medalClicked()"><center>
        <img src="/img/medal.png" alt="Smiley face" width="25" height="25">
      </center>
    </div>
  </div>

  <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">
  <img src="/img/user.png" alt="Smiley face" width="40" height="40"> <font color="#727272"><%=session[:tester]%></font>



    <div id="body1">
       <div id="chart1" ></div>
    </div>
    <div align="right">
        <font color="#40288e" size="5pt" onclick="goreport()" onmouseover="" style="cursor: pointer;"><font size="3pt"><span class="glyphicon glyphicon-chevron-right"></span></font><b>更多</b></font>
    </div>

     <script type="text/JavaScript">
        //<![CDATA[
        // overall pentagon
          var firstPentagon = [
                  [
                  {axis:"感情",value:0.56},
                  {axis:"事業",value:0.8},
                  {axis:"社交",value:0.4}
                  ],[
                  {axis:"感情",value:0.56},
                  {axis:"事業",value:0.8},
                  {axis:"社交",value:0.7}
                  ]
                ];
          var oldColor1 = "#2dffc1";
          var newColor1 = "#ff8a90";
          new Pentagon(firstPentagon, '5小時前',oldColor1,newColor1,"body1","chart1","#body1","#chart1");

      </script>


    </div>
  </div>

  <div class="row">
    <div id="green_background" class="col-xs-11 col-md-3" onclick="gocompare()" onmouseover="" style="cursor: pointer;">
    </br>
        <b><center><font size="5pt" color="#1a754b">比一下</font></center></b>  
    </div>
    <div id="blue_background" class="col-xs-11 col-md-3" onclick="goguess()" onmouseover="" style="cursor: pointer;">
          </br>
        <b><center><font size="5pt" color="#1c5979">猜一下</font></center></b>
    </div>
  </div>

  <div class="row">
    <div id="yellow_background" class="col-xs-11 col-md-7">
      <b>小明</b>剛剛比了<b>小白</b>跟<b>小黃</b>
    </br><font color="#ffa302" onmouseover="" style="cursor: pointer;"><font size="2pt"><span class="glyphicon glyphicon-chevron-right"></span></font><b>去猜</b></font>

    </div>
  </div>

</div>

        <form id="compareform" class="form-horizontal" role="form" action="choose_categ" method="post">
        </form>

        <form id="guessform" class="form-horizontal" role="form" action="choose_guess_categ" method="post">
        </form>

        <form id="reportform" class="form-horizontal" role="form" action="view_my_report" method="post">
        </form>


     <script type="text/JavaScript">
    //<![CDATA[
        function gocompare(){
            compareform = document.forms["compareform"];
            compareform.submit();
        }
        function goguess(){
            guessform = document.forms["guessform"];
            guessform.submit();
        }
        function goreport(){
            reportform = document.forms["reportform"];
            reportform.submit();
        }



        var isIphone;
        if( screen.width <= 480 ) {
            // chartelement = document.getElementById(chartID);
        }else{
            // green_background_element = document.getElementById("green_background");
            // blue_background_element = document.getElementById("green_background");
            // red_background_element = document.getElementById("red_background");
            // yellow_background_element = document.getElementById("yellow_background");
            red_background.style.height="400px";
            red_background.style.width="700px";
            green_background.style.width="323px";
            blue_background.style.width="323px";
            yellow_background.style.width="700px";
            medal_display.style.width="151px";
        }

       var level_element = document.getElementById("level_display");
       var progress = <%=@@progress[session[:tester]]%>;
       var whitewidth = 100 - progress;
       var imageText = (("linear-gradient(to left, #FFFFFF ").concat(whitewidth.toString())).concat("%,#f4d1ec 0%)")
       level_display.style.backgroundImage = imageText;

      function guessButton(btnid, coins){
        var obj = this;
        obj.btnelement = document.getElementById(btnid);
        obj.coins = parseInt(coins);
        obj.btnelement.onclick = function(){obj.btnClicked();}    
      }

      guessButton.prototype.btnClicked = function(){
        var obj = this;
        if(obj.coins < 50){
          alert("Not enough coins to play GUESS...");
          return;
        }
        var myform = document.forms["guessform"];
        myform.submit();
      }

        //]]>
    </script>

  <!-- <h1>Records</h1> -->

 




      <!-- FOOTER -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
