<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=TITLE%></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script src="js/basic_display.js"></script>


  </head>
  <style>
      #red_background{
      /*background: #caecfa;*/
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }
  </style>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row">
    <div id="level_display" class="col-xs-5 col-sm-3" onclick="levelClicked()"><center>等級<br><font size="5pt"><%=@@level[session[:tester]]%></font> </center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="home_display" class="col-xs-2 col-sm-2" onclick="backtohome()"><center>
      <!-- <img src="/img/home.png" alt="Smiley face" width="35" height="35"> -->
    </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2" onclick="coinClicked()"><%= @@coins[session[:tester]] %></div>
  </div>

  <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        new level_progress("level_display","<%=@@progress[session[:tester]]%>");
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>
  <!-- <h1>Records</h1> -->
 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

              <!-- <h1>Records</h1> -->
            </br>
            </br>


                <b><center><font size="5pt"><%if @correct%>恭喜！贏了！！<%else%>輸了...<%end%></font></center></b>
              </br>
                <center><font size="4pt" color="gray">答對了<%=@win%>題</font></center>
              </br>
                <center><font size="5pt"> <img src="/img/coinnew.png" alt="Smiley face" width="45" height="45"> <font size="3pt"><span class="glyphicon glyphicon-remove"></font> <%=@reward%></font></center>
              </br>
                <div class="row">
                  <div class="col-xs-3 col-sm-4"><center>等級 <%=@@level[session[:tester]]%></center></div>
                  <div class="col-xs-8 col-sm-6"> 
                    <div class="progress">
                      <div class="progress-bar progress-bar-info active"  role="progressbar" aria-valuenow="<%=@@progress[session[:tester]]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@@progress[session[:tester]]%>%">
                       <span class="sr-only"><%=@@progress[session[:tester]]%>% Complete</span>
                      </div>
                    </div> 
                  </div> 
                </div>
              </br>


                  </br></br>
                  <form class="form-horizontal" role="form" action="rankings" method="post">
                <center><button type="submit" class="btn green_button btn-block">OK</button></center>
              </form>




        </div>
  </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
